<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="img/logo.png">
    <link href="__PUBLIC__/Home/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="user-scalable=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="./manifest.json">
    
    <script src="__PUBLIC__/Home/js/store2.mi.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.9.1.js"></script>
    <title>蚂蚁金服充值活动</title>
    
</head>

<body style="padding:0;margin:0">
 <p>
			当天累计（不含下分）充值1万&nbsp; 充值彩金3%&nbsp; &nbsp; 非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值2万&nbsp; 充值彩金4%&nbsp; &nbsp; 非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值3万&nbsp; 充值彩金5%&nbsp; &nbsp; 非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值5万&nbsp; 充值彩金5%&nbsp; &nbsp;&nbsp;非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值10万 充值彩金6%&nbsp; &nbsp;非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值20万 充值彩金7%&nbsp; &nbsp;非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值30万 充值彩金8%&nbsp; &nbsp;非会员隔夜彩金只能领取一次
		</p>
		<p>
			当天累计（不含下分）充值50万 充值彩金9%&nbsp; &nbsp;非会员隔夜彩金只能领取一次
		</p>
		<p>
			<br/>
		</p>
		<div style="width:100%;height:300px">
		</div>
</body>

</html>